.jumbotron {
    background-image: url("/images/bg_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1, h3, h2 {
    color: white;
}

.panel-body {
    padding: 2em;
}

#addburger {
    background-color: forestgreen;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: #fff;
}

#lefthead {
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.2em;
}