

body {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    background-image: url("/images/bg_banner.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

h3, h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    
}

.text-big{
    color: yellow;
    font-size: 7em;
    text-shadow: 2px 2px black;
}

.panel-body {
    padding: 2em;
}

#addburger {
    background-color: forestgreen;
}

#newburger {
    border-radius: 5px;
}

label {
    color: #fff;
}

#lefthead {
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: crimson;
    color: white;
    text-align: center;
    font-size: 1.2em;
}